hishel[async]>=1.2.1
httpx>=0.28.1
pydantic>=2.13.3
python-dateutil>=2.9.0.post0
python-dotenv>=1.2.2
readme_renderer[md]>=44.0
requests_cache
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
# sphinx_rtd_theme
